/* ========== GLOBAL && VARIABLES ========== */
:root {
    font-size: 62.5%;

    --color-primary: hsl(0, 0%, 1%);
    --color-secondary: hsl(240, 14%, 16%);
    --color-tertiary: hsl(0, 0%, 51%);

    --border-color: hsl(300, 1%, 17%);

    --font-primary: hsl(0, 0%, 100%);   

    --family-sans: 'Open Sans', sans-serif;

    --border-radius: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: var(--color-primary);
    background: linear-gradient(45deg, var(--color-secondary) 10%, var(--color-primary) 50%);
    font-size: 1.6rem;
    font-family: var(--family-sans);
}

.container {
    width: min(48rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

p {
    text-align: center;
    color: var(--font-primary);
}

a {
    color: #e2a82b;
    font-weight: 400;
}

span {
    color: var(--font-primary);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-block: 3rem;
}

svg {
    color: var(--color-tertiary);
}

/* ================================================== */
/* =================== PRE LOADER =================== */
/* ================================================== */

#layer {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transition: opacity .5s;
    z-index: 3;
}

.rays {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rays:after, .rays:before {
    content: '';
    position: absolute; 
    border-radius: 100%;
}

.rays:after {
    border: 1rem solid var(--color-tertiary);
    height: 10rem;
    width: 10rem; 
    animation: rays 1.5s infinite;
}

.rays:before {
    background: var(--color-tertiary);
    height: 2rem;
    width: 2rem; 
}

@keyframes rays {
    from {
        opacity: 1;
        transform: scale(0); 
    }
    to {
        opacity: 0;
        transform: scale(1); 
    } 
}

/* ============================================ */
/* =================== MAIN =================== */
/* ============================================ */

.box__weather {
    width: 100%;
    background: var(--color-primary);
    background: linear-gradient(45deg, var(--color-primary) 15%, var(--color-secondary) 100%);
    border: .1rem solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 2.4rem;
}

.weather__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-primary);
}

#location {
    display: inline-block;
    padding: .4rem 1.2rem;
    background-color: var(--color-secondary);
    border: .1rem solid var(--border-color);
    border-radius: .4rem;
    font-weight: 500;
    font-size: 1.4rem;
}

.weather__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5rem;
}

.weather__image img {
    width: 14rem;
}

.weather__image span {
    margin-top: 1rem;
}

.weather__data {
    display: flex;
    justify-content: space-between;
}

.data__single {
    display: grid;
    align-items: center;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    margin-block: 1.6rem;
}

.data__single span {
    font-size: 1.6rem;
}

.day__weather {
    display: flex;
    justify-content: center;
    align-items: center;
}

.day__weather span {
    font-size: 5.6rem;
    font-weight: 300;
}

.box__search {
    position: relative;
    margin-top: .5rem;
    padding-block: 2.4rem;
}

.box__search input {
    width: 100%;
    border: .1rem solid var(--border-color);
    padding: 1.6rem 2.4rem;
    border-radius: 3rem;
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--color-tertiary);
    outline: none;
    transition: .2s ease-in;
}

.box__search input:focus {
    border-color: var(--color-tertiary);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; 
}

.box__search span {
    position: absolute;
    top: 3.7rem;
    right: 2.4rem;
    cursor: pointer;
}

.box__search span svg {
    transition: .3s ease-in;
}
.box__search span:hover svg {
    color: var(--font-primary);
}